.electrical1{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.electrical1 h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 40.85px;
    color: #121212;
    text-align: center;
}

.electrical2{
    margin-top: 50px;
}


.electrical2 h3{
    font-weight: 600;
    font-size: 25px;
    line-height: 34.05px;
    color: #121212;
    margin-bottom: 30px;
}

.electrical2 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    color: #000000;
}