.caree1 {
  position: absolute;
  /* z-index: 1; */
  top: 90px;
  width: 100%;
}

.caree2 {
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.caree2 h2 {
  color: #ffffff;
  font-size: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.caree3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.caree3 button {
  /* margin-right: 40px; */
  height: 50px;
  width: 287px;
  background-color: #f4bc1c;
  color: #ffffff;
  font-size: 18px;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  /* Adding transition for smooth animation */
}

.caree3 button:hover {
  transform: scale(1.1);
}

.caree4 {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.caree4 h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40.85px;
  color: #121212;
  text-align: center;
}

.caree5 {
  margin-top: 50px;
  margin-bottom: 100px;
}

.caree5 h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 34.05px;
  color: #000000;
  text-align: center;
}

.caree6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.caree7{
    text-align: center;
    margin-bottom: 50px;
}

.caree7 h5{
    font-weight: 600;
    font-size: 24px;
    line-height: 34.05px;
    color: #474747;
    margin-top: 10px;
}

.caree8{
    width: 384px;
    height: 200px;
    border-radius: 9px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.caree9{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.caree10{
    text-align: center;
    margin-bottom: 50px;
}

.caree10 h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    color: #474747;
    margin-top: 10px;
}

.caree11{
    width: 300px;
    height: 156px;
    border-radius: 9px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}