.Apply11 {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Apply12 {
    display: flex;
    align-items: center;
    gap: 50px;
}

.Apply12 h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 34.05px;
    color: #2D3132;
}

.Apply12 img {
    width: 92px;
    height: 81px;
    cursor: pointer;
}


.Apply13 {
    margin-top: 20px;
}

.Apply14 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #001848;
    border-radius: 10px;
    overflow: hidden;
    width: 354px;
    height: 41px;
}

.Apply15 {
    margin-left: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    color: #001848;
}

.Apply14 input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;

}

.Apply14 input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    color: #001848;
}

.apply-button button {
    width: 348px;
    height: 47px;
    background: #F4BC1C;
    border-radius: 30px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    color: #FFFFFF;
    border: none;
    transition: all 0.3s ease;
    margin-top: 10px;
}
.apply-button button:hover {
    transform: scale(1.1);
  }

.Apply16 {
    display: flex;
    gap: 10px;
}

.Apply17 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 303px;
    height: 41px;
    border: 1px solid #001848;
    border-radius: 10px;
    overflow: hidden;

}

.Apply17 input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;

}
.Apply17 input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 27.24px;
    color: #001848;
}


.Apply18 {
    width: 89px;
    height: 41px;
    background-color: #F4BC1C;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 21.79px;
    border-radius: 10px;
    scale: 1.1;
    text-align: center;
    cursor: pointer;
}

.Apply18 p {

    padding-top: 8px;
}

.Apply20 {
    text-align: center;
    margin: auto;
    width: 354px;
    height: 41px;
}


.Apply20 h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 27.24px;
    color: #000000;
    text-align: center;
}


.Apply20 span {
    font-weight: 600;
    font-size: 20px;
    line-height: 27.24px;
    color: #001848;
}


.otp-container p{
    font-weight: 500;
    font-size: 18px;
    line-height: 24.51px;
    color: #000000;
    text-align: center;
}