/* SearchInput.css */

.now1 {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.search-container12 {
    display: flex;
    align-items: center;

}

.search-input1 {
    padding: 8px;
    border-radius: 40px;
    width: 667px;
    height: 46px;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding-left: 20px;
}


.search-input1::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.07px;
    color: #4B4B4B;
}

.search-icon11 {
    margin-left: -60px;
    padding: 8px;
}


.now2 {
    display: flex;
    gap: 150px;
}

.now3 button {
    width: 238px;
    height: 46.08px;
    border: none;
    outline: none;
    border-radius: 48px;
    background: #F4BC1C;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    color: #FFFFFF;
    margin: auto;
    transition: all 0.3s ease;
    /* Adding transition for smooth animation */
}

.now3 button:hover {
    transform: scale(1.1);
    /* Increase the size by 10% on hover */
}



.now4 {
    margin-top: 70px;
}

.now4 h1 {
    font-weight: 600;
    font-size: 25px;
    line-height: 34.05px;
    color: #000000;
}


.now20{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}


.now5 {
    width: 262px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
}


.now6 {
    height: 171px;
    width: 262px;
    border: none;
    outline: none;
    position: relative;
}

.now img{
    width: 262px;
}




.now8{
    position: absolute;
    top: 10px;
    right: 0;
    width: 78px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #00000080;
    text-align: center;
    padding-top: 5px;
    border-radius: 2px;
}

.now8 i{
    color: #ffec44;
}

.now8 h5{
    font-weight: 600;
    font-size: 10px;
    line-height: 13.62px;
    color: #FFFFFF;
}

.now7 {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
   padding: 5px;
}

.now7 p {
    font-weight: 700;
    font-size: 12px;
    line-height: 16.34px;
    color: #FFFFFF;
}


.now7 span {
    font-weight: 600;
    font-size: 12px;
    line-height: 16.34px;
    color: #FFFFFF;
}


.now10{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.now11{
    display: flex;
    gap: 5px;

}

.now11 img{
    width: 13.5px;
    height: 16.5px;
}

.now11 p{
    font-weight: 500;
    font-size: 13px;
    line-height: 16.34px;
    color: #2E2E2E;
}


.now11 span{
    font-weight: 600;
    font-size: 13px;
    line-height: 16.34px;
    color: #000000;
}

.now12{
    display: flex;
    border-top: 1px solid #001848;
    border-bottom: 1px solid #001848;
    padding: 8px;
}

.now13 h3{
    font-weight: 600;
    font-size: 13px;
    line-height: 16.34px;
    color: #000000;
}

.now13 p{
    font-weight: 400;
    font-size: 10px;
    line-height: 13.62px;
    color: #2E2E2E;
}


.now14 h6{
    font-weight: 600;
    font-size: 12px;
    line-height: 16.34px;
    color: #F4BC1C;
}

.now14 h5{
    font-weight: 600;
    font-size: 12px;
    line-height: 16.34px;
    color: #000000;
}

.now15{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px;
    gap: 10px;
}

.now15 button:nth-child(1){
    width: 217px;
    height: 30px;
   border: none;
   outline: none;
   border-radius: 17.76px;
   font-weight: 600;
   font-size: 16px;
   line-height: 21.79px;
   color: #FFFFFF;
   background: #001848;
}


.now15 button{
    width: 217px;
    height: 30px;
   border: none;
   outline: none;
   border-radius: 17.76px;
   font-weight: 600;
   font-size: 16px;
   line-height: 21.79px;
   color: #FFFFFF;
   background: #F4BC1C;
}



.now21{
    height: 268px;
    width: 100%;
    border-radius: 12px;
    background-color: #E7E7E7;
    margin-top: 50px;
  }