.review21{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.review22 h1{
    font-size: 25px;
    font-weight: 600;
    line-height: 34.05px;
    color: #000000;
    margin-bottom: 20px;
}


.review22 ul li{
    font-weight: 400;
    font-size: 20px;
    line-height: #000000;
    margin-bottom: 20px;
}





  
