.now1323 {
  margin-top: 20px;
}

.conatiner_screen2323 {
  display: flex;
  border-top: 1px solid #9a9a9a;
  margin-top: 50px;
  gap: 20px;
}

.filt1 {
  display: flex;
  gap: 50px;
}

.filt2 {
  font-family: Open Sans;
  cursor: pointer;
  width: 158px;
  height: 42px;
  border-radius: 30px;
  background-color: #f4bc1c;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  line-height: 24.51px;
  text-align: center;
  padding: 10px;
}

.filt3 {
  font-family: Open Sans;
  cursor: pointer;
  width: 158px;
  height: 42px;
  border: 1px solid #001848;
  border-radius: 30px;
  background: transparent;
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  color: #000000;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.filt6 {
  display: flex;
  gap: 20px;
}

.filt6 h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 34.05px;
  color: #000000;
}

.filt7 {
  border: 3px solid #000000;
}

.filt9 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.filt50 {
  display: flex;
  gap: 170px;
}

.filt50 button {
  width: 234px;
  height: 46px;
  border: 1px solid #1a3b5a;
  border-radius: 34.16px;
  background: transparent;
  color: #1a3b5a;
  font-weight: 400;
  font-size: 21.35px;
  line-height: 29.08px;
}

/* SearchInput.css */

.search-container12 {
  display: flex;
  align-items: center;
}

.search-input1 {
  padding: 8px;
  border-radius: 40px;
  width: 667px;
  height: 46px;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding-left: 20px;
}

.search-input1::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.07px;
  color: #4b4b4b;
}

.search-icon11 {
  margin-left: -60px;
  padding: 8px;
}

.now221 {
  display: flex;
  gap: 120px;
  margin-top: 40px;
}

.now3 button {
  width: 238px;
  height: 46.08px;
  border: none;
  outline: none;
  border-radius: 48px;
  background: #f4bc1c;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  color: #ffffff;
  margin: auto;
  transition: all 0.3s ease;
  /* Adding transition for smooth animation */
}

.now3 button:hover {
  transform: scale(1.1);
  /* Increase the size by 10% on hover */
}

.now421 {
  margin-top: 40px;
}

.now421 h1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 34.05px;
  color: #000000;
}

.now20 {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.filt20 {
  width: auto;
  height: 500px;
  border: 1px solid #007075;
  border-top: none;
  border-radius: 10px;
  position: relative;
}

.filt21 {
  height: 171px;
  width: 316px;
  border: none;
  outline: none;
  position: relative;
}

.filt21 img {
  width: 100%;
  height: auto;
  scale: 1.01;
}

.filt22 {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 78px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #00000080;
  text-align: center;
  padding-top: 5px;
  border-radius: 2px;
}

.filt80 {
  position: absolute;
  top: 20px;
  left: -10px;
}

.filt80 p {
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.filt81 {
  position: absolute;
  top: 32px;
  left: -8px;
}

.filt22 i {
  color: #ffec44;
}

.filt22 h5 {
  font-weight: 600;
  font-size: 10px;
  line-height: 13.62px;
  color: #ffffff;
}

.filt23 {
  display: flex;
  position: absolute;
  top: 130px;
  bottom: 0;
  left: 0;
  gap: 8px;
  padding-left: 17px;
}

.filt23 img {
  width: 51px;
  height: 51px;
}

.filt23 h6 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16.34px;
  color: #ffffff;
}

.filt23 p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16.34px;
  color: #ffffff;
}

.filt30 {
  display: flex;
  position: absolute;
  top: 200px;
  bottom: 0px;
  padding: 5px;
  gap: 20px;
  padding: 10px;
  padding-bottom: 15px;
}

.filt31 h6 {
  font-weight: 700;
  font-size: 15px;
  line-height: 19.07px;
  color: #f4bc1c;
}

.filt31 p {
  font-weight: 600;
  font-size: 12px;
  line-height: 1px;
  color: #000000;
}

.filt33 {
  display: flex;
  position: absolute;
  top: 250px;
  bottom: 0px;
  gap: 20px;
  padding: 10px;
  padding-bottom: 15px;
  border-top: 1px solid #dfdfdf;
}

.filt36 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.34px;
  color: #2e2e2e;
}

.filt36 span:nth-child(1) {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.34px;
  color: #000000;
}

.filt36 p:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
  line-height: 1px;
  color: #2e2e2e;
}

.filt34 {
  position: absolute;
  top: 330px;
  bottom: 0px;
  left: 0px;
  right: 0;
  padding-left: 30px;
  padding-top: 10px;
  border-top: 1px solid #dfdfdf;
}

.filt37 {
  position: absolute;
  top: 360px;
  bottom: 0px;
  left: 0px;
  right: 0;
  padding-left: 30px;
  padding-top: 5px;
}

.filt37 ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.filt37 ul li {
  margin-right: 30px;
  /* Adjust the spacing between list items */
}

.filt34 ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.filt34 ul li {
  margin-right: 30px;
  /* Adjust the spacing between list items */
}

.filt35 {
  border-top: 1px solid #dfdfdf;
  position: absolute;
  left: 0px;
  right: 0;
  top: 390px;
  bottom: 0px;
  padding: 10px;
}

.filt38 button {
  width: 285px;
  height: 36px;
  background: #f4bc1c;
  border: none;
  outline: none;
  border-radius: 17.76px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  color: #ffffff;
  transition: all 0.3s ease;
  /* Adding transition for smooth animation */
}

.filt38 button:hover {
  transform: scale(1.1);
  /* Increase the size by 10% on hover */
}

.filt39 {
  display: flex;
  gap: 40px;
  margin-top: 10px;
}

.filt39 button {
  width: 121px;
  height: 36px;
  background: transparent;
  border: 0.89px solid #001848;
  border-radius: 17.76px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.79px;
  color: #001848;
  transition: all 0.3s ease;
}
.filt39 button:hover {
  transform: scale(1.1);
  /* Increase the size by 10% on hover */
}

.filt40 {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.filt41 {
  width: 97%;
  height: 200px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  padding: 20px;
}

.fil41 h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 29.96px;
  color: #000000;
}

.filt42 {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.filt43 {
  font-family: Open Sans;
  cursor: pointer;
  width: 180px;
  height: 45px;
  border-radius: 30px;
  background-color: #001848;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  line-height: 24.51px;
  text-align: center;
  padding: 10px;
}

.filt44 {
  font-family: Open Sans;
  cursor: pointer;
  width: 180px;
  height: 45px;
  border: 1px solid #000000;
  border-radius: 30px;
  background: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  color: #000000;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.filt45 {
  width: 100%;
  height: 268px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
}

.filt45 img {
  width: 198.67px;
  height: 192px;
}

.filt46{
    text-align: center;
}

.filt46 h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49.03px;
  color: #000000;
  text-align: center;
}

.filt46 button {
  width: 213px;
  height: 48px;
  background: #f4bc1c;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 21.79px;
  color: #ffffff;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.filt46 button:hover {
  transform: scale(1.1);
}
